.nav1__right__btn{
    width: 150px;
    height: 29px;
    background-color: $dark-blue;
    border: none;
    color: white;
    font-size: 12px;

    &--sec-4-btn{
        height: 36px;
        text-align: center;
    }
    img{
        width: 30px;
        height: 15px;
    }
}

//media query
@include mobile{
    .nav1__right__btn{
        display: none;
        &--sec-4-btn{
            margin-left: 70px;
            padding: 10px 30px;
            
        }
    }
}
